.input__group {
  display: flex;
  flex-direction: column;

  & label {
    font-size: 1.8rem;
    font-weight: 600;
    color: $primary-color;
  }

  & input,
  & textarea {
    padding: 0.7rem 1rem;
    border: 0.15rem solid $primary-color;
    border-radius: 0.5rem;
    margin: 1.4rem 0 2rem 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: $primary-color;

    &:focus {
      outline: none;
      border: 0.15rem solid primary-dark-color;
    }

    &::placeholder {
      color: $primary-light-color;
      font-weight: 300;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
    }
  }

  & textarea {
    height: 10rem;
  }
}
