.landing__section {
  padding: 3rem 8rem;
  position: relative;
  overflow: hidden;
  background: radial-gradient(rgba(0, 0, 0, 0.279), rgba(5, 4, 4, 0.263)),
    url(../../public/assets/lland.jpg);

  height: 100dvh;
}

.landing {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.left {
  flex-basis: 45%;
  color: #fff;
}

.h1 {
  color: #fff;
  background-color: #ffffff20;
  padding: 2rem 4rem;
  border-radius: 1.5rem;
  font-size: 2.5rem;
  line-height: 5rem;
  word-spacing: 0.4rem;
}

.span {
  font-weight: 800;
  color: #f5e6e6;
  font-size: 4rem;
}

.p {
  margin: 3rem 0 2rem;
  color: #fff;
  font-size: 1.8rem;
}

.btn__box {
  width: 100%;
  margin-top: 3rem;
}

.btn {
  height: 6.5rem;
  width: 15rem;
  border-radius: 1.5rem;
  font-size: 2.5rem;
  border: 0.4rem solid #3e3f3f;
  transition: all 0.3s;
  font-weight: 500;
}

.btn__primary {
  color: #ffffff;
  background: linear-gradient(to right bottom, #535454, #121315);
  transition: all 0.3s;
}

.btn__secondary {
  margin-left: 2rem;
  color: #202021;
  background-color: #ffffff;
  transition: all 0.3s;
}
.btn__primary:hover {
  background: linear-gradient(to right bottom, #121315, #535454);
  border: 0.4rem solid #fdfdfd;
}

.btn__secondary:hover {
  color: #ffffff;
  background: linear-gradient(to right bottom, #313233, #141c24);
  border: 0.4rem solid #fdfdfd;
}

.right {
  flex-basis: 50%;
  position: relative;
  height: 70dvh;
}

.figure__1,
.figure__2,
.figure__3 {
  position: absolute;
}

.figure__1 {
  top: 0;
  left: 30%;
}
.figure__2 {
  top: 40%;
  right: 0;
}
.figure__3 {
  top: 75%;
  left: 30%;
}
.img {
  margin-top: 8rem;
  height: 70%;
  object-fit: contain;
  width: 100%;
  border-radius: 2rem;
}

.animate {
  padding: 3rem;
  position: absolute;
  white-space: nowrap;
  top: 0;
  left: 0;
  animation: slide-right-to-left 15s linear infinite;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

@keyframes slide-right-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1000px) {
  .section {
    padding: 4rem 8rem;
    height: fit-content;
  }
  .landing {
    margin-top: 4rem;
    flex-direction: column;
    text-align: center;
  }

  .left {
    margin-top: 6rem;
    width: 100%;
  }

  .p {
    margin: 2rem 0 1.5rem;
    font-size: 2.2rem;
    color: #202020;
  }
  .btn__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    height: 7rem;
    width: 20rem;
    margin: 1.5rem auto;
    font-size: 2rem;
  }

  .right {
    width: 100%;
  }

  .img {
    margin-top: -3rem;
    height: 50vh;
    width: 100%;
    object-fit: contain;
  }
}

@media only screen and (max-width: 650px) {
  .section {
    padding: 4rem 2rem;
  }
}
